body{
    font-family: Arial, sans-serif;
    background-color: white;
}
h1, h2, h3, h4, h5, h6, p{
    font-family: Arial, sans-serif;
}
a{
    font-family: Arial, sans-serif;
}
.CSFont {
    font-family: Arial cursive, sans-serif !important;
}